@using NetDevPack.Fido2.EntityFramework.Store.Model
@using System.Text
@model List<StoredCredentialDetail>
@{
    ViewData["Title"] = "Credentials";
}

<div class="section">
    <div class="container">
        <h1 class="display-4">Keys</h1>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Type</th>
                    <th scope="col">UserHandle</th>
                    <th scope="col">UserId</th>
                    <th scope="col">Username</th>
                    <th scope="col">AaGuid</th>
                    <th scope="col">CredType</th>
                    <th scope="col">PublicKeyId</th>
                    <th scope="col">RegDate</th>
                    <th scope="col">SecurityKeyName</th>
                    <th scope="col">SignatureCounter</th>
                    <th scope="col">Transports</th>
                    <th scope="col">PublicKey</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.Type</td>
                        <td>@Encoding.UTF8.GetString(item.UserHandle)</td>
                        <td>@Encoding.UTF8.GetString(item.UserId)</td>
                        <td>@item.Username</td>
                        <td>@item.AaGuid</td>
                        <td>@item.CredType</td>
                        <td>@Convert.ToBase64String(item.PublicKeyId)</td>
                        <td>@item.RegDate</td>
                        <td>@item.SecurityKeyName</td>
                        <td>@item.SignatureCounter</td>
                        <td>@item.Transports</td>
                        <td>

                            <details>
                                <summary>@Convert.ToBase64String(item.PublicKey).Substring(0, 10).Substring(0, 10)...</summary>
                                @Convert.ToBase64String(item.PublicKey)
                            </details>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
